@tailwind base;
@tailwind components;
@tailwind utilities;


.fc-timegrid-slot {
	height: 45px !important; 
}
@media (max-width: 768px) {
	.fc-timegrid-slot {
	  height: 55px !important;
	}
}
.fc-toolbar-chunk:nth-child(2) {
	margin-left: auto !important;
	padding-right: 10px !important;

}
.fc-toolbar-title{
	font-size: 20px !important;
}
.fc-event{
	background: linear-gradient(to right, #9b4100, #ff7300) !important;
	border: none !important;
	cursor: pointer !important;
}
.fc-scrollgrid-sync-inner, .fc-timegrid-axis{
	background: #000;
}
